<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Логин</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    </head>
    <body>
        <div class="content">
            <h1>Вход</h1>
            <form method="POST">{% csrf_token %}
                <input type="text" name="username" placeholder="Имя пользователя" value="{{ form.username }}"> 
                <br>
                <br>
                <input type="password" name="password" placeholder="Пароль" value="{{ form.password }}"> 
                <br> 
                <br>
                <input type="submit" value="Войти" onClick='location.href="http://127.0.0.1:8000/articles/"'>
            </form>
            {{ form.errors }}
            <br>
            <a href="/login">Регистрация</a>
        </div>
    </body>
</html>
