<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Архив статей</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body>
        <div class="header">
            <div>
               <h4>
                    <a href="{% url 'registration' %}" style="float: right;">РЕГИСТРАЦИЯ</a>
                    <img src="{% static "images/people.png" %}">
            </h4>
        </div>
        <p>{{user.username}}</p>
        <input type="button" value="Создать статью" onClick='location.href="http://127.0.0.1:8000/article/new/"'>
        <h2>Архив всех статей</h2>
        </div>
        <div class="archive">
        {% for post in posts %}
            <div class="one-post">
                <div>
                    <h2 class="post-title">
                        <a href="/article/{{ post.id }}">{{ post.title }}</a>
                    <input type="button" value="Свернуть" class="fold-button" style="float: right;"></div></h2>
                </div>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-createddate">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
        {% endfor %}
        </div>
        <script language="JavaScript" src="{% static 'js/helloworld.js' %}"></script>
    </body>
</html>

