body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;    
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
h4 a {
    font-family: Arial;
    color: #ffffff;
}
.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.post-title a {
    font-family: Arial;
    color: #ffffff;
}
.article-author {
    width: 50%;
    float: left;
}
.article-created-date {
    text-align: right;
}
.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.exit {
    width: 1150px;
    text-align: right;
}

.folded-inner-post {
    display: none
}
.buttonf {
    font-size: 14px;
  font-weight: 740;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.buttonf:hover { background: rgb(53, 167, 110); }
.buttonf:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.fold-button {
    font-size: 11px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.fold-button:hover { background: rgb(53, 167, 110); }
.fold-button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


